.container-detalhes-desativar {
    display: flex;
    gap: 2rem;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}

.container_admin {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    width: 100%;
}

.admin_botao_cadastro {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 64px;
}

.admin_botao_acoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 4px;
    gap: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
}

.admin_botao_acoes h2 {
    color: white !important;
}

.admin_botao_acoes.editar, .admin_botao_acoes.ver {
    background-color:#2d0891;
}

.admin_botao_acoes.editar:hover, .admin_botao_acoes.ver:hover {
    background-color: #200079;
    cursor: pointer;
}

.admin_botao_acoes.desativo {
    background-color:#c92251;
}

.admin_botao_acoes.desativo:hover {
    background-color: #a1143c;
    cursor: pointer;
}

.admin_botao_acoes.ativo {
    background-color:#1a9d30;
}

.admin_botao_acoes.ativo:hover {
    background-color: #137a24;
    cursor: pointer;
}

.admin_card_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    background-color: #F5F5F5;
}

.admin_card_inicio {
    display: flex;
    gap: 20px;
}

.admin_card_esq img {
    width: 64px;
}

.admin_card_dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.admin_card_dir p {
    font-weight: 600;
    color: #404040;
}

.admin_card_dir span {
    font-weight: 400;
    color: #757575;
}

@media only screen and (max-width: 900px) {

    .admin_card_container {
        flex-direction: column;
        gap: 32px;
        align-items: start;
    }
}

@media only screen and (max-width: 500px) {

    .container-detalhes-desativar {
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }

    .admin_botao_acoes {
        flex-direction: row;
        width: 100%;
    }

    .admin_card_dir {
        width: 50%;
    }

    .admin_card_dir p, .admin_card_dir span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        flex-shrink: 1;
    }

    .admin_card_esq {
        min-width: 25%;
    }

    .admin_botao_cadastro a {
        width: 100%;
    }
}