/* Estilos para inputs de data e arquivo */
.input-flexivel {
    @apply border p-2 rounded;
    border-color: #1e3a8a; /* Azul escuro */
    display: inline-block;
}

/* Estilos para o contêiner principal */
.container-principal-cadastrar {
    @apply flex justify-start; /* Ocupa a largura total disponível */
    width: 98%;
    margin: 5vh 0;
    padding: 2rem;
}

/* Estilos para o formulário */
.formulario {
    @apply w-full; /* Ocupa 100% da largura disponível */
}

/* Estilos para alinhar inputs flexíveis à esquerda */
.alinhado-esquerda {
    @apply text-left;
}

/* Container que segura a seta e o título */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    margin-bottom: 16px;
    position: relative;
  }
  
.link-voltar {
    position: absolute;
    left: 0; /* Mantém a seta à esquerda */
    top: 0;
    text-decoration: none;
}

  
.icone-voltar:hover {
    opacity: 0.8; /* Efeito ao passar o mouse */
  }

/* Estilo para os campos de input com erro */
.input-erro {
    border: 1px solid red;
    color: red;
  }
  
  /* Estilo para a mensagem de erro em vermelho */
  .erro-texto {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
  }
  
  .custom-select {
    width: 100%; /* Largura máxima */
    background-color: transparent; /* Remove o fundo padrão */
    border: 1px solid #1e3a8a; /* Borda na cor especificada */
    padding: 8px; /* Espaçamento interno para melhorar a aparência */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 4px; /* Bordas arredondadas (opcional) */
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .texto-select {
    font-weight: bold;
  }