/* Estilos para inputs de data e arquivo */
.input-flexivel {
    @apply border p-2 rounded;
    border-color: #1e3a8a; /* Azul escuro */
    display: inline-block;
}

/* Estilos para o contêiner principal */
.container-principal-cadastrar {
    @apply flex justify-start; /* Ocupa a largura total disponível */
    width: 98%;
    margin: 5vh 0;
    padding: 2rem;
}

/* Estilos para o formulário */
.formulario {
    @apply w-full; /* Ocupa 100% da largura disponível */
}

/* Estilos para alinhar inputs flexíveis à esquerda */
.alinhado-esquerda {
    @apply text-left;
}

/* Container que segura a seta e o título */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    margin-bottom: 16px;
    position: relative;
  }
  
.link-voltar {
    position: absolute;
    left: 0; /* Mantém a seta à esquerda */
    top: 0;
    text-decoration: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-input {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
  
.icone-voltar:hover {
    opacity: 0.8; /* Efeito ao passar o mouse */
  }

/* Estilo para os campos de input com erro */
.input-erro {
    border: 1px solid red;
    color: red;
  }

  .erro-texto {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
  }
  
  .custom-select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #C4C4C4;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .texto-select {
    font-weight: bold;
  }

  .cadpro_botao_cadastrar {
    margin-top: 48px !important;
  }