.criad_container {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
}

.criad_form_linha {
    display: flex;
    gap: 32px;
}

.criad_form_linha_input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%; 
}

.criad_form_linha_input label {
    font-size: 20px;
    font-weight: 500;
}

.criad_form_linha_input input, .criad_form_linha_input select {
    font-size: 16px;
    padding: 8px;
}

.criad_form_linha.baixo {
    margin-top: 40px;
}

.criad_container form p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}

.criad_form_linha_radio {
    width: 25%;
}

.criad_form_linha_radio_tipo {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
}

.criad_form_linha_radio_tipo input {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.criad_botao_cad {
    margin-top: 40px;
}

.criad_subtitulo {
    font-weight: 500;
    color: #003383;
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 32px;
}

.criad_subtitulo.top {
    margin-top: 64px;
}