.dashboard-container-principal-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.dashboard-container-input {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.dashboard-select {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #fff;
    color: #333;
}

.dashboard-select:focus {
    border-color: #0056b3;
}

.dashboard-select option {
    font-size: 16px;
    color: #333;
}

.dashboard-p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: #555;
}

.dashboard-container-input div {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}