.edipro_botoes {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.edipro_arquivos_existentes_container {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

.edipro_arquivo_existente {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F5F5F5;
    padding: 16px;
    border-radius: 12px;
}

.edipro_arquivo_existente_titulo {
    color: #606060;
    font-weight: 500;
    font-size: 1.125rem;
}

.edipro_arquivo_existente_nome {
    color: #404040;
    margin-bottom: 16px;
}

.cadpro_label.correcao {
    margin-bottom: -8px;
}

.cadpro_label.cima {
    margin-top: 48px;
}


@media only screen and (max-width: 768px) {
    
    .edipro_arquivos_existentes_container {
        flex-wrap: wrap;
    }

    .edipro_arquivo_existente {
        width: 100%;
    }
}