.titulo {
    font-weight: bold;
    color: #0F3684;
}

.texto {
    border-bottom: 1px solid #0F3684;
}

.container-informacoes div {
    margin-bottom: 1rem;
}

.arquivos-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.arquivo-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.arquivo-tipo {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 5px;
}

.arquivo-botao {
    background-color: #0F3684;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.arquivo-botao:hover {
    background-color: #0d2d6b;
}
