.titulo {
    font-weight: bold;
    color: #0F3684;
}

.texto {
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid #0F3684 !important;
    width: 100%;
}

.container-informacoes div {
    margin-bottom: 1rem;
}

.arquivos-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.arquivo-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.arquivo-tipo {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 5px;
}

.arquivo-botao {
    background-color: #0F3684;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.arquivo-botao:hover {
    background-color: #0d2d6b;
}

.botoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.botao-editar {
    border: 2px solid orange;
    padding: 10px 12px;
    border-radius: 8px;
    color: #f59c02;
    font-weight: bold;
}

.botao-deletar {
    border: 2px solid red;
    padding: 10px 12px;
    border-radius: 8px;
    color: red;
    font-weight: bold;
}

.botoes-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

.botao-salvar {
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 8px;
    color: green;
    font-weight: bold;
}

.botao-cancelar {
    border: 2px solid #0F3684;
    padding: 10px 20px;
    border-radius: 8px;
    color: #0F3684;
    font-weight: bold;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    position: relative;
  }
  
.icone-voltar:hover {
    opacity: 0.8;
  }

@media (max-width: 320px) {
    .botoes-container {
        flex-direction: column;
        gap: 15px;
    }

    .botao-deletar, .botao-editar {
        height: auto;
        width: auto;
        padding: auto;
    }
}

@media (max-width: 568px) and (min-width: 321px) {
    .botoes-container {
        gap: 1rem;
    }

    .botao-deletar, .botao-editar {
        height: auto;
        width: auto;
        padding: auto;
    }
}

@media (max-width: 768px) and (min-width: 569px) {
    .botoes-container {
        gap: 2rem;
    }
}
