.infopro_container {
    margin: 0 10%;
    margin-top: 80px;
    color: #303030;
}

.infopro_container.menor {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
    color: #303030;
}

.infopro_cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #F5F5F5;
    border-radius: 12px;
    margin-bottom: 64px;
}

.infopro_cima_dir {
    display: flex;
    gap: 16px;
}

.infopro_titulo {
    width: 100%;
    font-size: 2rem;
    color: #003383;
    font-weight: 700;
    text-align: start !important;
}

.infopro_info_titulo.cima {
    margin-top: 64px;
}

.infopro_info_titulo {
    font-size: 1.25rem;
    color: #003383;
    font-weight: 700;
    margin-bottom: 16px;
}

.infopro_info_texto {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 2px solid #dadada;
}

.infopro_nenhum {
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: 16px;
    color: #606060;
    max-width: 50%;
}

.infopro_arquivos_container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

.infopro_arquivo_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background-color: #F5F5F5;
    padding: 32px;
    border-radius: 8px;
}

.infopro_arquivo_item:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.infopro_arquivo_item h2 {
    font-size: 1.3rem;
    color:#003383;
    font-weight: 600;
}

.infopro_arquivo_item p {
    color: #606060;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {

    .infopro_cima {
        flex-direction: column;
        justify-content: start;
        gap: 32px;
    }

    .infopro_cima_dir {
        width: 100%;
        align-items: start;
    }
}

@media only screen and (max-width: 768px) {

    .infopro_cima_dir {
        flex-direction: column;
    }
    
    .infopro_cima_dir button {
        width: 100%;
    }
    
    .infopro_arquivo_item {
        padding: 16px;
        width: 100%;
        text-align: center;
    }
}