/* Container principal que divide a página */
.login-container {
    display: flex;
    justify-content: space-between; /* Espaço entre os dois lados */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 100vh; /* Altura de 100% da tela */
    width: 100vw;  /* Largura de 100% da tela */
    margin-left: -240px !important;
}

/* Lado esquerdo (formulário) - fundo branco */
.login-left-side {
    background-color: #ffffff; /* Fundo branco */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Define 50% da largura */
    height: 100%; /* Ocupa 100% da altura */
}

/* Centralização do formulário de login */
.login-form {
    width: 60%;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #000f2e;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao-login {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}

.botao-login:hover {
    background-color: #0056b3;
}

/* Estilo da mensagem de erro */
.login-error {
    color: red;
    margin-top: 10px;
}

/* Lado direito com imagem de fundo */
.login-right-side {
    background: linear-gradient(to bottom, #000031, #0071b8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Define 50% da largura */
    height: 100%; /* Ocupa 100% da altura */
    position: fixed;
    right: 0;
}

.login-right-side img {
    max-width: 70%;
    height: auto;
}

.link-home {
    border-bottom: 1px solid blue;
    color: blue;
    cursor: pointer;
    display: inline; 
    padding: 2px;
}


@media (max-width: 440px) {
    .login-right-side img {
        max-width: 60%;
    }
}



@media (min-width: 440px) and (max-width: 650px) {
    .login-right-side img {
        max-width: 42%;
    }
}



@media (max-width: 760px) {
    .login-container {
        flex-direction: column-reverse;
        margin: 0 !important;
        width: 100%;
    }

    .login-left-side {
        width: 100%;
        margin-left: -4rem;
        padding: 14.5rem 0 0 0;
    }

    .login-right-side {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 260px;
    }

    .login-left-side h1 {
        font-size: 24px;
        color: #004186;
        font-weight: bold;
    }

    .login-right-side img {
        max-width: 38%;
    }

    .login-form {
        width: 100%;
    }
}

@media (min-width: 761px) and (max-width: 920px) {
    .login-left-side {
        width: 70%;
        padding: 0 10% 0 0;
    }
}

@media (min-width: 921px) and (max-width: 1300px) {
    .login-left-side {
        width: 70%;
        margin-left: -5% !important;
        padding: 0 10% 0 0;
    }
}