.notif_container {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 80px;
}

.notif_titulo {
    font-size: 2rem;
    color: #003383;
    font-weight: 700;
    text-align: start !important;
    margin-bottom: 48px;
}

.notif_subtitulo {
    font-size: 1.25rem;
    color: #003383;
    font-weight: 700;
    text-align: start !important;
}

.notif_meio {
    display: flex;
    gap: 32px;
}

.notif_meio_esq, .notif_meio_dir {
    display: flex;
    flex-direction: column;
    width: 59%;
}

.notif_divisoria {
    width: 3px !important;
    background-color: #C4C4C4 !important;;
    height: auto;
    margin-left: 32px;
    margin-right: 32px;
}