.container-principal-portal {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 2rem;
}

.container-texto {
    text-align: center;
    margin-bottom: 2vh;
}

.container-texto h1 {
    color: #0F3684;
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .container-texto h1 {
        color: #0F3684;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .container-texto h1 {
        color: #0F3684;
        font-weight: bold;
        font-size: 1.5rem;
    }
}