.container-projeto {
  @apply flex justify-between p-4 rounded border shadow-md;
}

/* Estilos para o conteúdo de projetos */
.conteudo-projetos {
  @apply text-center;
}

/* Estilos para a mensagem de 'sem projetos' */
.sem-projetos {
  @apply flex flex-col items-center space-y-4;
}

/* Botão 'Novo projeto' */
.botao-novo-projeto {
  @apply bg-white text-blue-900 border-2 border-blue-900 px-4 py-2 rounded hover:bg-blue-100 font-bold my-5;
}

.itens-esquerda, .itens-meio {
  text-align: start;
}

.itens-esquerda{
  width: 76%;
}

.agrupar-meio-esquerda{
  @apply flex justify-between items-center  gap-4;
  
}

@media (max-width: 768px) {
  .container-projeto {
      border: 1px solid #0F3684;
      border-radius: 6px;
      /* padding: 2rem; */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;
  }

  .itens-esquerda, .itens-meio {
      text-align: center;
  }

  .agrupar-meio-esquerda{
    @apply flex-col;
  }

  .container-projetos-externo{
    padding: 1rem !important;
  }
  .container-projeto{
    padding: 1rem !important;
  }
  .itens-esquerda{
    width: 100%;
  }

}
