.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(180deg, #082052 0%, #04163D 100%);
    width: 17.5%;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.sidebar.transicao {
    transition: 0.3s;
}


.side_logotipo {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
}

.side_logotipo.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.rodar {
    transform: rotate(180deg);
    margin-top: 12px !important;
}

.side_logotipo.aberto {
    display: flex;
    justify-content: center;
}

.sidebar.aberto {
    width: 300px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.items.fechado {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.items_fechado p, .logout p, .adm-info p {
    display: none;
}

.side_info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.side_info p {
    color: white;
}

.side_nome {
    font-size: 16px;
}

.side_email {
    font-size: 12px;
    color: rgb(104, 104, 104);
}

.items span {
    display: flex;
}

.icon_notificacao {
    width: 16px;
    margin-right: 8px;
}

.side_botao {
    display: flex;
    gap: 16px;
    padding: 12px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}

.side_botao img {
    max-width: 24px;
}

.side_botao.ativo {
    background-color: white;
    color: #082052;
    font-weight: 500;
}

.side_botao.ativo:hover {
    background-color: white;
}

.side_botao:hover {
    filter: brightness(95%);
    background-color: #06132f;
    cursor: pointer;
}

.side_logout {
    display: flex;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    font-weight: 500;
}

.side_logout:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.side_cima {
    flex-grow: 1;
}

.side_baixo {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.side_baixo_logout {
    display: flex;
    gap: 16px;
}

.none, .logo-img.none{
    display: none;
}

.side_centralizar {
    justify-content: center;
    align-items: center;
}

.side_abrir {
    margin-top: 40px;
    width: 32px;
    height: 32px;
}

.side_abrir:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.confirmButton, .denyButton {
    box-shadow: none !important;
}

.confirmButton:hover {
    filter: brightness(90%);
}

.denyButton {
    background-color: white !important;
    border: 2px solid #003383 !important;
    color: #003383 !important;
    margin-left: 32px;
}

.denyButton:hover {
    background-color: white !important;
    filter: none !important;
    border: 2px solid #05214d !important;
    color: #05214d !important;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-image: none;
}

@media (max-width: 1200px) {

    .sidebar {
        width: 96px;
    }

    .logo-container {
        height: 4rem;
    }
}