.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(180deg, #082052 0%, #04163D 100%);
    width: 17.5%;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.side_logotipo {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side_info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.side_info p {
    color: white;
}

.side_nome {
    font-size: 16px;
}

.side_email {
    font-size: 12px;
    color: rgb(104, 104, 104);
}

.items span {
    display: flex;
}

.icon_notificacao {
    width: 16px;
    margin-right: 8px;
}

.side_botao {
    display: flex;
    gap: 16px;
    padding: 12px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}

.side_botao.ativo {
    background-color: white;
    color: #082052;
    font-weight: 500;
}

.side_botao.ativo:hover {
    background-color: white;
}

.side_botao:hover {
    filter: brightness(95%);
    background-color: #06132f;
    cursor: pointer;
}

.side_logout {
    display: flex;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    font-weight: 500;
}

.side_logout:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.side_cima {
    flex-grow: 1;
}

.side_baixo {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.side_baixo_logout {
    display: flex;
    gap: 16px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 5rem;
    }

    .items p, .logout p, .adm-info p {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .logo-img {
        height: 50px;
        width: 50px;
    }

    .logo-container {
        height: 4rem;
    }
}