.noale_container {
    background-color: #F5F5F5;
    margin-top: 24px;
    border-radius: 8px;
    color: #404040;
}

.noale_container h1 {
    color: #003383;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: start !important;
}

.noale_hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px !important;
    background-color: #b0b0b0 !important;
}

.noale_cima {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0px 24px;
}

.noale_cima img:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.noale_aviso {
    margin-bottom: 16px;
    padding: 0px 24px 0px 24px;
}

.noale_aviso_baixo {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 24px 24px;
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {

    .noale_aviso_baixo {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 640px) {

    .noale_aviso_baixo {
        flex-direction: column;
        gap: 20px;
    }
}