.cahi_container {
    display: flex;
    margin-bottom: 32px;
    width: 100%;
}

.cahi_esq {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 12px 0px 0px 12px;
    padding: 24px;
    border-right: 1px solid #C4C4C4;
    width: 10%;
    min-width: 88px;
}

.cahi_esq img {
    width: 40px;
    min-width: 40px;
}

.cahi_meio {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #F5F5F5;
    padding: 24px;
    border-right: 1px solid #C4C4C4;
    align-items: start;
    width: 70%;
}

.cahi_meio p {
    color: #404040;
}

.cahi_titulo {
    font-weight: 500;
    font-size: 20px;
}

.cahi_titulo.criacao {
    color: #19670C;
}

.cahi_titulo.edicao {
    color: #003383;
}

.cahi_titulo.exclusao {
    color: #ED3C5C;
}

.cahi_dir {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #F5F5F5;
    padding: 24px;
    border-radius: 0px 12px 12px 0px;
    width: 20%;
}

.cahi_dir h2 {
    font-weight: 500;
    color: #606060;
    text-align: start;
}

.cahi_dir p {
    color: #404040;
}

.cahi_dir_data {
    margin-top: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.cahi_dir_data img {
    width: 16px;
}

@media only screen and (max-width: 850px) {

    .cahi_container {
        flex-direction: column;
        border-radius: 12px;
        overflow: hidden;
    }

    .cahi_esq, .cahi_meio, .cahi_dir {
        width: 100%;
        border-right: none;
        padding-top: 24px;
        border-radius: 0px;
    }

    .cahi_esq {
        padding-top: 24px;
        justify-content: start;
        border-bottom: 1px solid #C4C4C4;
    }

    .cahi_dir {
        padding-bottom: 24px;
        border-top: 1px solid #C4C4C4;
    }
}