.caco_container {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 32px;
    color: #303030;
    margin-bottom: 2.5%;
    width: 48.75%;
}

.caco_container:nth-last-child(1),
.caco_container:nth-last-child(2) {
    margin-bottom: 0px;
}


.caco_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caco_esq {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caco_esq_info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 24px;
}

.caco_esq_info p {
    width: 60%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caco_esq_icone {
    background-color: #003383;
    padding: 8px;
    border-radius: 48px;
    width: 64px;
    height: 64px;
}

.caco_baixo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.caco_baixo p {
    padding-bottom: 16px;
    border-bottom: 1px solid #C4C4C4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caco_baixo p:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.caco_baixo span {
    font-weight: 500;
}

.caco_botoes {
    display: flex;
    gap: 16px;
}

.caco_botoes.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    background-color: #003383;
    color: white;
    padding: 16px;
    width: 64px;
    height: 64px !important;
    border-radius: 4px;
}

.caco_botoes.botao:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.caco_botoes.botao.excluir {
    background-color: #C92251
}